* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Kanit', sans-serif;
    background-image: url(img/asd.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0 0 2px whitesmoke;
}

img {
    width: 200px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    cursor: pointer;
}

.container {
    max-width: 600px;
    padding: 40px;
    margin: 0 auto 0;
}

.card {
    border: 1px solid black;
    box-shadow: 0 0 50px whitesmoke;
    padding: 40px;
    background-image: url(img/asd.webp);
}


.other {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.line {
    display: flex;
    align-items: center;
    border-left: 2px solid #f5f5f5;
    height: 100px;
    opacity: 1;
    margin-top: 20px;
    border-radius: 50%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
i{
    font-size: 40px;
    cursor: pointer;
    transition: .4s;
}
i:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.5);
}
a{
    color: rgb(255, 255, 255);
    margin: 20px;
}

.button {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none!important;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }