* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding: 10px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
}

input {
    padding: 15px;
    border-radius: 5px;
    width: 250px;
}

.Logbtn {
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.Logbtn {
    --color: #00A97F;
    margin-left: 20px;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none!important;
   }
   
   .Logbtn::before, .Logbtn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .Logbtn::before {
    top: -1em;
    left: -1em;
   }
   
   .Logbtn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .Logbtn:hover::before, .Logbtn:hover::after {
    height: 410px;
    width: 410px;
   }